/* Personalización de la Navbar */
.navbar {
    padding: 2rem;  
    background-color: #ddbd8297; /* Color de fondo oscuro */
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between  ;
}

/* Estilos generales */
/* Se define aqui y no en bootstrap porque habrá varias secciones */
section {
    display: flex; /* Los elementos hijos de cada sección se comportan como flexibles */
    flex-direction: column;
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra los elementos hijos perpendicularmente, en este caso es vertical */
}

h1 {
    font-size: 2.5rem; /* rem es una medida basada en el tamaño de fuente del elemento raíz */
    font-family: "Tomorrow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dark-section {
    background-color: #150f31; /* Color de fondo oscuro */
    color: #ffffff; /* Color de texto claro */
    padding: 4rem; /* Espaciado interno */
    text-align: center; /* Centra el texto */
}

.light-section {
    background-color: #f5f6f5; /* Color de fondo claro */
    color: #150f31; /* Color de texto oscuro */
    padding: 4rem; /* Espaciado interno */
    text-align: center; /* Centra el texto */
}

.title-section {
    font-size: 2rem;
    margin-top: 5rem;
    padding: 15px, 0;
    font-family: "Tomorrow", sans-serif;
}

.text-section {
    font-size: 1.2rem;
    padding: 10px 0;
    margin-bottom: 2rem;
}

.btn-info {
    font-size: 1.2rem;
    margin: 20px;


}

/* Sección Hero */
.hero   {
    background-color: #f5f6f5;
    min-height: 450px;
    text-align: center;
}

.main-hero{
    padding: 3rem;
}

.developer-image {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    margin: 1.5rem;
}

.main-hero h2 {
    font-size: 1.5rem;
    color: blueviolet;
}
/* About me CSS */
.about-me {
    height: 300px;
    padding: 10px;
}

.about-me .personal-container{ /* Regla para el contenedor personal dentro de la sección About Me */
    max-width: 600px;
    text-align: center;
}

/* Experience section */

.experience {
    padding: 4rem 4rem 6rem 4rem; /* Espaciado interno aumentado: arriba, derecha, abajo, izquierda */
}

.experience .column-personal-style {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in; /* Transición suave para efectos hover */
}.experience .column-personal-style:hover {
    transform: translateY(-10px); /* Efecto hover: eleva la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
} 

.experience i {
    font-size: 2.5rem;
    color: #150f31;
    background-color: #ddbd8297;
    border-radius: 50%;
    padding: 7px 15px; /* Padding para hacer redondo el ícono */
}

.Experience-title {
    font-size: 1.6rem;
    font-family: "Tomorrow", sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor { /* Personalización del contenedor de badges */
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge { /* Estilo para cada badge */
    margin: 5px;
}


/* Proyectos */

.recent-projects {
    padding: 40px;

}

.black-text {
    color: #000000;
}

.white-text {
    color: #ffffff;
}

.Description-section {
    font-size: 1.2rem;
    color: rgb(24, 51, 51);
}

.recent-projects img {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 29px;
    display: block; /* Display hace que las imagenes se muestren como bloques*/
    transition: all 0.3s ease; /* ease crea una transición suave */
}

.container-projects {
    padding-top: 60px;
    margin-bottom: 20px;
}

.overlay {
    transition: all 0.2 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    
}

.project {
    position: relative;
    display: inline-block;
}

.project:hover img {
    opacity: 0.2;

}
.project:hover .overlay {
    opacity: 1;

}

.overlay .container-icons {
    display: flex;
}

.overlay i{
    color: #000000;
    font-size: 2rem;
    margin: 10px;
}

/* Testimonios */

.Testimonios {
    padding: 40px 40px 80px 40px;
}
.Testimonios .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.review-img {
    width: 150px;
    height: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
}

.testimonio-info {
    font-weight: bold;
    text-align: center;

}

.testimonio-info p {
    margin-bottom: 0; 
}

.testimonio-info .cliente {
    font-size: 1.2rem;
}
.testimonio-info .cargo {
    font-size: 1rem;
    color: gray;
}

/* Una media query para que a partir de tamaños donde la barra se contrae el logotipo no se muestra */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    } 
}

/* Media query para imágenes secundarias en la sección hero */
@media screen and (min-width: 700px) { 
    .secondary-hero-img {
        max-width: 600px;
    }
    .secondary-hero-img {
        width: 600px;
        height: auto;
    }   
}
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    .overlay i {
        font-size: 1.5rem;
    }  
}
@media screen and (max-width: 800px) {
    .review-img {
        width: 120px;
        height: 120px;
    }
    .testimonio-texto {
        font-size: 18px;
    }
}